[alias]
	br = branch
	co = checkout
	cp = cherry-pick
	ci = commit
	cm = commit -m
	amend = commit --amend
	df = diff
	dc = diff --cached
	ds = diff --staged
	f = fetch --all --prune
	last = log -1 HEAD
	lg = log --oneline --graph --decorate --all
	pl = pull --rebase
	ps = push
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	r = reset
	rh = reset --hard
	rs = reset --soft
	unstage = reset HEAD --
	st = status -sb
	who = shortlog -s --
	tags = tag -l
[core]
	autocrlf = {{ if eq .chezmoi.os "linux" }}input{{ else }}true{{ end }}
	pager = delta
[credential "https://github.com"]
	helper = 
	helper = {{ if eq .chezmoi.os "windows" }}!'C:\\Program Files\\GitHub CLI\\gh.exe'{{ else }}!/usr/bin/gh{{ end }} auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = {{ if eq .chezmoi.os "windows" }}!'C:\\Program Files\\GitHub CLI\\gh.exe'{{ else }}!/usr/bin/gh{{ end }} auth git-credential
[credential "https://huggingface.co"]
	provider = generic
[delta]
	navigate = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictStyle = zdiff3
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[user]
	email = {{ .email }}
	name = {{ .name }}
